body{
    font-family: sans-serif;
    margin: 0;
    color: #fff;
    background-color: black;
    display: block;
}

.square{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    display: inline-block;
    justify-content: center;
    margin: 0;
}