body{
    font-family: sans-serif;
    margin: 0;
    color: #fff;
    background-color: black;
}

.square{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}